# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
next-env.d.ts
out/
dist/
build/
.wrangler/

# Env / secrets
.env
.env.*
!.env.example
*.pem
*.key

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
